body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  letter-spacing: 0.04em;
  color: #131313;
  background-image: url(../images/back-mob-1x.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size: contain;
}

img {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 16px;
  }
}

.header {
  position: absolute;
}

.container {
  position: relative;
}

.logo::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 40px;
  height: 37px;
  background-color: yellow;
}

.hero__container {
  position: relative;
  width: 100%;
  height: 502px;
  padding-top: 99px;
}

.hero {
  background-color: #84A178;
}

.hero__title {
  width: 247px;
  height: 97px;
  margin-bottom: 32px;
  font-family: "Seymour One";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 1.32;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FCFCFC;
}

.hero__title--span {
  font-size: 34px;
  text-transform: uppercase;
}

.hero__btn {
  width: 108px;
  height: 38px;
  margin-right: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  background-color: transparent;
  border: 2px solid #F8D24E;
  border-radius: 8px;
}

.hero__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-decoration: underline;
  color: #F8D24E;
}

.icecream {
  position: absolute;
  bottom: 0;
  left: 83px;
  padding: 0;
}

.underscream {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
}

.product {
  padding-top: 60px;
  padding-bottom: 60px;
}

.product__uptitle {
  margin-bottom: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
}

.product__title {
  margin-bottom: 148px;
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  text-transform: uppercase;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 168px;
}

.product__item {
  width: 100%;
}

.product__box {
  position: relative;
  padding-top: 123px;
  background-color: #aec6a5;
  border-radius: 24px;
}
.product__box--brown {
  background-color: #d6936d;
}
.product__box--yellow {
  background-color: #efd478;
}

.product__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: inherit;
  -webkit-box-shadow: 0px 5.3px 20px rgba(10, 136, 23, 0.25);
          box-shadow: 0px 5.3px 20px rgba(10, 136, 23, 0.25);
}

.product__img {
  position: absolute;
  top: -11px;
  left: 50%;
  translate: -50% -50%;
  z-index: 1;
}

.product__name {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
}

.product__description {
  width: 200px;
  height: 100px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  line-height: 1.76;
  color: #131313;
}

.tradition {
  padding-top: 60px;
  padding-bottom: 64px;
  background-color: #84A178;
}

.tradition__uptitle {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: #FCFCFC;
}

.tradition__title {
  margin-bottom: 54px;
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  text-transform: uppercase;
  color: #FCFCFC;
}

.tradition__cow__box {
  position: relative;
  display: block;
  margin-bottom: 62px;
  width: 279px;
  height: 278px;
  background-color: #EFD478;
  border-radius: 50%;
}

.tradition_cow {
  position: absolute;
  top: 22px;
  width: 279px;
  height: 278px;
}

.tradition__discription {
  width: 220px;
  margin: 0 auto;
  text-align: center;
  color: #FCFCFC;
}
.tradition__discription ~ p {
  width: 220px;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  color: #FCFCFC;
}

.tradition__link {
  display: block;
  text-align: center;
}

.tradition__btn {
  width: 164px;
  height: 42px;
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #000000;
  border-radius: 10px;
  background-color: #F8D24E;
  border: none;
}

.tradition__box {
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
  background-color: #F8D24E;
  border-radius: 50%;
  margin: 0 auto;
}

.tradition__icon {
  width: 36px;
  height: 36px;
}

.tradition__span {
  display: block;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: #FCFCFC;
}

.tradition__text {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #FCFCFC;
}

.review {
  position: relative;
  padding-top: 178px;
  padding-bottom: 393px;
}

.review__ice {
  position: absolute;
  top: -178px;
  translate: 0 -25%;
}

.review__girl {
  margin: 0 auto;
  margin-bottom: 32px;
}

.review__text {
  width: 100%;
  height: 256px;
  padding: 35px 39px;
  margin-bottom: 32px;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  color: #FCFCFC;
  background-color: #84A178;
  border-radius: 10px;
}

.review__name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
}

.review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review__item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #D9D9D9;
}

.review__item:is(:active) {
  background-color: #84A178;
}

.review__item--active {
  background-color: #84A178;
}

.footer {
  background-color: #84A178;
}

.container {
  position: relative;
}

.footer__list {
  position: relative;
  top: -353px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer__item {
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 32px;
  width: 100%;
  height: auto;
  background-color: #FCFCFC;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}

.footer__name {
  display: inline-block;
  margin-bottom: 20px;
  padding: 4px 22px;
  background-color: #F8D24E;
  border-radius: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
}

.footer__city {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

.footer__index {
  position: relative;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #D6936D;
}

.footer__index::after {
  position: absolute;
  content: "";
  top: 64px;
  left: 0;
  width: 216px;
  height: 1px;
  background-color: #E1E1E1;
}

.days__list {
  position: relative;
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.days__list::after {
  position: absolute;
  content: "";
  top: 120px;
  left: 0;
  width: 216px;
  height: 1px;
  background-color: #E1E1E1;
}

.days__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
}

.days__span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #ABABAB;
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}

.address__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #131313;
}/*# sourceMappingURL=main.css.map */